<h1>Pass the<%= @test_passage.test.title %> Test</h1>

<div>
  <%= @test_passage.current_question.title %>
</div>
<div>
  Current question - <%= @test_passage.current_question_number  %>; 
  Total amount questions - <%= @test_passage.test.questions.count %>
</div>
<%= form_with url: test_passage_path(@test_passage), local: true,  method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title, include_hidden: false do |b| %>
  <div class="form-check">
    <%= b.check_box id: "answer_ids_#{b.object.id}", class: "from-check-input" %>
    <%= b.label class: "from-check-label" %></div>
  <% end %>
  <%= form.submit 'Next', class: "btn btn-primary " %>
<% end %>