<%= form_with model: [@question, @answer], local: true do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_area :title, id: :answer_title, rows: 7, cols: 60 %>
  </div>
  <div>
    <%= form.label :correct %>
    <%= form.check_box :correct, id: :answer_correct %>
  </div>
  <%= form.submit %>
<% end %>