<div class="container m-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Level</th>
        <th scope="col">Quantity questions</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%= test.level %></td>
        <td><%= question_quantity test %></td>
        <td><%= link_to 'Show', admin_test_path(test), class: "btn btn-light" %></td>
        <td><%= link_to 'Edit', edit_admin_test_path(test), class: "btn btn-light" %></td>
        <td><%= link_to 'Delete', admin_test_path(test), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New Test", new_admin_test_path, class: "btn btn-light" %>