<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>

      <div class="card text-center">
        <div class="card-footer text-muted">
          <span><%= year %></span>
          <span>Author: Vasiliy</span>
          <span><a class="text-decoration-none" href=<%= link_to_github 'morphizm', 'test-guru' %> target="_blank">TestGuru</a></span>
          <p class="font-italic">ТестГуру - это сайт для создания и прохождения тестов.</p>
          <p><a class="text-decoration-none" href="http://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinketica</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
