<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="container m-3 header">
        <%= link_to 'TestGuru', root_path %> |
        <%= link_to 'Sign Up', signup_path %> |
        <%= link_to 'Sign In', login_path %> |
        <%= link_to 'Sign Out', signout_path, method: :delete, onclick: "alert('Goodbye!')" %>
      </div>
      <% if logged_in? %>
        <p class="nav user"> Welcome,&nbsp;<b><%= current_user.name %></b>&nbsp;<%= link_to 'Guru', root_path %></p>
      <% end %>
      
      <%= yield %>

      <div class="card text-center">
        <div class="card-footer text-muted">
          <span><%= year %></span>
          <span>Author: Vasiliy</span>
          <span><a class="text-decoration-none" href=<%= link_to_github 'morphizm', 'test-guru' %> target="_blank">TestGuru</a></span>
          <p class="font-italic">ТестГуру - это сайт для создания и прохождения тестов.</p>
          <p><a class="text-decoration-none" href="http://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinketica</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
